[tool.poetry]
name = "sphinx-graph"
version = "0.1.1"
description = "'Sphinx-Graph' is a plain-text, VCS-friendly, requirements management tool."
authors = ["Daniel Eades <danieleades@hotmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/danieleades/sphinx-graph"
documentation = "https://sphinx-graph.readthedocs.io/en/latest/index.html"
keywords = ["sphinx, requirements", "documentation", "plain-text"]
classifiers = [
    "Development Status :: 4 - Beta",
    "License :: OSI Approved :: MIT License",
    "Topic :: Documentation",
    "Topic :: Documentation :: Sphinx",
    "Topic :: Utilities",
    "Topic :: Documentation",
    "Topic :: Utilities",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Framework :: Sphinx :: Extension",
    "Intended Audience :: Developers",
    "Intended Audience :: Manufacturing",
]


[tool.poetry.dependencies]
python = "^3.8.1"
sphinx = "^5.3.0"
networkx = "^2.8.8"
pylint = "^2.15.8"
black = "^22.12.0"


[tool.poetry.group.dev.dependencies]
# testing
pytest = "^7.2.0"
pytest-cov = "^4.0.0"

# typing
mypy = "^0.991"
types-docutils = "^0.19.1.1"

# linting
flake8 = "^6.0.0"
flake8-bugbear = "^22.4.25"
flake8-cognitive-complexity = "^0.1.0"
flake8-comprehensions = "^3.10.1"
flake8-docstrings = "^1.6.0"
flake8-future-annotations = "^1.0.0"
flake8-simplify = "^0.19.3"
flake8-unused-arguments = "^0.0.12"
flake8-use-fstring = "^1.3"
pep8-naming = "^0.13.2"

[tool.poetry.group.doc.dependencies]
sphinx-rtd-theme = "^1.1.1"

[tool.mypy]
strict = true
show_error_codes = true
files = "src,tests"
exclude = "tests/roots"

[[tool.mypy.overrides]]
module = ["networkx.*"]
ignore_missing_imports = true

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
