name: CI
on:
  push:
    branches: [main]
  pull_request:

env:
  UV_VERSION: 0.9.28  # Pin the version of UV

jobs:
  tests:
    defaults:
      run:
        shell: bash
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.11", "3.12", "3.13", "3.14"]
        sphinx-version: ["7.0", "8.0", "9.0"]
        include:
          # Check only newish setup for windows
          - os: "windows-latest"
            python-version: "3.14"
            sphinx-version: "9.0"
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          version: ${{ env.UV_VERSION }}
      - name: Run Tests
        run: uv run --frozen --python ${{ matrix.python-version }} --with sphinx~=${{ matrix.sphinx-version }} pytest

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          version: ${{ env.UV_VERSION }}
      - run: uv run --frozen pre-commit run --all-files

  docs:
    name: Docs
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: astral-sh/setup-uv@v7
      with:
        version: ${{ env.UV_VERSION }}
    - name: Build docs
      working-directory: docs/
      run: uv run --frozen make html SPHINXOPTS="-W --keep-going -n --exception-on-warning"

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          version: ${{ env.UV_VERSION }}
      - name: Collect coverage
        run: uv run --frozen pytest --cov=src --cov-report=xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: coverage.xml
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  ci-summary:
    name: CI Summary
    if: always()
    needs: [tests, lint, docs, coverage]
    runs-on: ubuntu-latest
    steps:
      - name: Fail if any required job failed
        run: |
          results=(
            "${{ needs.tests.result }}"
            "${{ needs.lint.result }}"
            "${{ needs.docs.result }}"
            "${{ needs.coverage.result }}"
          )
          for r in "${results[@]}"; do
            if [[ "$r" != "success" ]]; then
              echo "Failing because a required job did not succeed: $r"
              exit 1
            fi
          done
